<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <title>
        {% block titulo %}
        {% endblock titulo %}
    </title>
</head>

<body>
    <main class="container-fluid" style="margin-top: 5%; padding-right: 5%; padding-left: 5%;">
        <div class="card">
            <div class="card-body">
                {% block conteudo %}
                {% endblock conteudo %}
            </div>
        </div>
    </main>
</body>

</html>